<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner bgCarousel">
    <div class="carousel-item bgCarousel__item active">
      <p class=GeekInstagtam>GeekInstagram</p>
      <p class="wf-roundedmplus1c">最高の瞬間を記録しよう</p>
      <%= link_to "新規登録", new_user_registration_path, class:"btn btn-info sign-in" %>
      <%= link_to "ログイン", new_user_session_path, class:"btn btn-info login" %>
    </div>
    <div class="carousel-item bgCarousel__item">
    <p class=GeekInstagtam>GeekInstagram</p>
      <p class="wf-roundedmplus1c">あなたの思い出に彩を</p>
      <%= link_to "新規登録", new_user_registration_path, class:"btn btn-info sign-in" %>
      <%= link_to "ログイン", new_user_session_path, class:"btn btn-info login" %>
    </div>
    <div class="carousel-item bgCarousel__item">
    <p class=GeekInstagtam>GeekInstagram</p>
      <p class="wf-roundedmplus1c">仲間と一緒に共有できる</p>
      <%= link_to "新規登録", new_user_registration_path, class:"btn btn-info sign-in" %>
      <%= link_to "ログイン", new_user_session_path, class:"btn btn-info login" %>
    </div>
	</div>
</div>